{% extends 'layout.html.twig' %}

{% block title %}profil de {{user.pseudo}} {% endblock %}

{% block content %}

 {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}



     <div class="row">
            <aside class="col-xl-3 vh-100 border rounded shadow p-3 m-2">
                    <nav class="nav flex-column">
                        <a class="nav-link active" aria-current="page" href="#"> Page profil</a>
                        <a class="nav-link" href="{{ path('app_car') }}">  {% if cars is not null %} Ajouter un vehicule {% else %} Devenir conducteur
                             {% endif %}  </a>
                        <a class="nav-link" href="{{ path('app_profile_edit') }}">Modifier mes informations</a>
                        {% if cars is not null %} 
                            <a class="nav-link" href="{{ path('app_trip_new') }}"  > Ajouter un trajet</a>
                        {% endif %}      
                    </nav>
            </aside>
            <div class="col text-center">
            <div class="border rounded shadow p-3 m-2 ">

               <h1>{{user.pseudo}}</h1>
               <h2>Bienvenu sur votre espace personel </h2>
               <p> {{user.email}} </p>
               <p> Numero : {{user.number}} </p>
               <p> Adresse : {{user.adress}} </p>
              <small> Inscrit depuis le  {{ user.createAt |date('d/m/Y') }} </small> 
               <p> Date de naissance : {{user.dob |date('d/m/Y')}} </p>
               <h3>Credits : {{user.credits}} </h3>

            </div>
               
            <div class="border rounded shadow p-3 m-2 ">
                    <h2>Vos vehicules</h2>

                    <div class="py-3 row row-cols-1 row-cols-md-1 row-cols-lg-3 g-4">

                        {% for car in cars %}
                            <div class="col-sm-5">
                                <article class="card h-100 border border-success">
                                    <div class="card-body">
                                        <h4 class="card-title h4"> {{car.brand.name}} {{car.model}} {{ car.energy.value}}</h4>
                                        <div class="card-text" > 
                                            {{ car.immatriculation}}
                                        <p>Première immatriculation {{car.firstImmatriculationAt |date('d/m/Y')}} </p>
                                        <p>
                                        Couleur : <input disabled type="color" value"{{car.color}}">
                                        </p>
                                        </div>
                                    </div>
                                    <div class="card-footer text-end">
                                        <a class="btn btn-outline-primary" href="{{ path('app_car_edit', {id: car.id})}}"> Modifier l'article</a>
                                        <a href="{{ path('app_car_delete', {id: car.id} ) }}" class="btn btn-outline-danger">Supprimer</a>
                                    </div>
                                </article>
                            </div>
                        {% endfor %}
                    </div>
            </div>

             <div class="border rounded shadow p-3 m-2 ">
                <h2>Vos Trajets</h2>

                  <div class="py-3 row row-cols-1 row-cols-md-1 row-cols-lg-3 g-4">

                        {% for trip in trips %}
                            <div class="col-sm-5">
                                <article class="card h-100 border border-success">
                                    <div class="card-body">
                                        <h4 class="card-title h4"> {{ trip.startDate ? trip.startDate|format_date( 'full', locale: 'fr') : '' }} </h4>
                                        <button> {{trip.status.value}} </button>
                                        <div class="card-text" > 
                                           <p><strong> {{ trip.startingPoint }} </strong> A {{ trip.startingTime ? trip.startingTime|date('H:i:s') : '' }}<i class="bi bi-dash-lg"></i><strong>{{ trip.destination }}</strong>{{ trip.endingTime ? trip.endingTime|date('H:i:s') : '' }} <br> Heure</p>
                                       
                                      
                                        </div>
                                    </div>
                                    <div class="card-footer text-end">
                                        <button class="btn btn-outline-primary">  {% if trip.driver.pseudo == user.pseudo %} Statut : Conducteur  {% else %}
                                        Statut : Passager
                                            {% endif %}
                                             </button>
                                    </div>
                                </article>
                            </div>
                        {% endfor %}
                    </div>
               
            </div>

     </div>



{% endblock %}
